.food {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../assets/veggies.jpg");
  background-position: center;
  background-size: cover;
  min-height: 320px;
}

.food__container {
  display: flex;
  max-width: 1500px;
  width: 100%;
  align-items: center;
}

.food__carousel {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.food__card {
  position: relative;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.food__card:hover {
  transform: translateY(-15px);
}

.food__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.food__button:hover {
  background: #0056b3;
}

.food__button-prev {
  left: 25px;
}

.food__button-next {
  right: 25px;
}

/* Right side */
.food__details {
  flex: 1;
  padding: 20px;
}

.food__title {
  font-size: 50px;
  margin-bottom: 10px;
  color: #333;
}

.food__subtitle {
  font-size: 18px;
  color: #555;
}

.food__intro {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f0f8ff;
  max-width: 1000px;
  width: 100%;
  height: 400px;
  border-radius: 25px 0px 0px 25px;
  flex-direction: column;
  margin-left: 40px;
}
