.footer {
  /* background-color: #303030; */
  background-image: linear-gradient(to top, #720026, #17120f);
  margin: 0px;
  padding: 25px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer__title {
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin: 15px auto;
  padding: 0px;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footer__link {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #f0f8ff;
  margin: 0px;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

.footer__link:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.footer__copyright {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .footer__links {
    display: grid;
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: auto;
    gap: 25px;
  }
}
