.header {
  background: url("../assets/Screenshot 2024-11-19 232800.png") no-repeat center
    transparent;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  padding-top: var(--header-padding-top, 165px);
  transition: all 0.3s ease;
}

.header__image {
  height: 100px;
  width: 100px;
}

.header__title {
  text-align: center;
  background-color: #fff;
  padding: 25px;
  margin-top: 80px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.header__description {
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: var(--header-padding-top, 206px);
    padding-bottom: 32px;
  }

  .header__logo {
    height: 24px;
    width: 126px;
    margin-left: 27px;
  }
}
