.shelter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 50px 25px 50px 0px;
  background: url("../assets/andre-benz-CR0E20Of7yU-unsplash.jpg") no-repeat
    center transparent;
  background-size: cover;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.shelter__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  gap: 25px;
  box-sizing: border-box;
}

.shelter__title {
  display: flex;
  font-size: 50px;
  text-align: right;
  justify-items: center;
  align-items: center;
  margin: 0px;
  padding: 50px;
  max-width: 550px;
  height: 250px;
  background-color: #f0f8ff;
  border-radius: 0px 25px 25px 0px;
}

.shelter__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

.shelter__grid {
  margin: 0px;
  padding: 0px;
}

.shelter__buttons {
  position: relative;
  max-width: 450px;
  height: 50px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-template-rows: auto;
  margin: 50px auto 0px;
  padding: 0px;
  border: none;
  box-sizing: content-box;
}

.shelter__screen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: fit-content;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 15px 15px;
  border-radius: 25px;
  border: none;
  transition: all 0.3s ease;
  box-sizing: content-box;
  overflow: hidden;
}

.shelter__image {
  width: 300px;
  height: 300px;
  background-color: #f0f8ff;
  border-radius: 25px;
  margin: 0px;
  padding: 20px;
  object-fit: cover;
  box-sizing: content-box;
  overflow: hidden;
}

.shelter__info {
  width: 300px;
  height: 300px;
  background-color: #f0f8ff;
  border-radius: 25px;
  margin: 0px;
  padding: 20px;
  box-sizing: content-box;
  overflow: hidden;
}

.shelter__info-title {
  font-size: 20px;
  text-align: center;
  margin: 0px auto;
}

.shelter__info-paragraph {
  font-size: 16px;
  text-align: left;
  margin: 15px auto;
}

@media screen and (max-width: 1150px) {
  .shelter {
    padding: 25px 15px 50px 15px;
  }

  .shelter__container {
    flex-direction: column;
    margin: 0px auto;
    padding: 0px;
  }

  .shelter__title {
    text-align: center;
    align-items: center;
    border-radius: 25px;
    padding: 25px;
    height: 125px;
  }
}

@media screen and (max-width: 770px) {
  .shelter {
    padding: 25px 0px 50px 0px;
  }

  .shelter__container {
    max-width: 380px;
  }

  .shelter__title {
    max-width: 500px;
    width: 500px;
    padding: 15px;
    border-radius: 25px;
    height: 120px;
  }

  .shelter__buttons {
    grid-template-columns: repeat(auto-fill, 75px);
    max-width: 225px;
    margin: 0px auto;
  }

  .shelter__screen {
    flex-direction: column;
    gap: 10px;
    width: 550px;
    height: 370px;
  }

  .shelter__image {
    width: 287px;
    height: 50px;
    padding: 3px;
    border-radius: 25px 25px 0px 0px;
  }

  .shelter__info {
    width: 270px;
    height: 270px;
    padding: 10px;
    border-radius: 0px 0px 25px 25px;
  }

  .shelter__info-paragraph {
    font-size: 16px;
    text-align: left;
    margin: 5px auto 5px;
  }
}

@media screen and (max-width: 600px) {
  .shelter__title {
    font-size: 20px;
    max-width: 200px;
    width: 100%;
    height: 80px;
    justify-content: center;
  }
}
