.warmth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 25px 20px;
  background: linear-gradient(
    to bottom,
    #051316,
    #051316,
    #051316,
    #17120f,
    #303030
  );
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

.warmth__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.warmth__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff;
  max-width: 1000px;
  width: 100%;
  border-radius: 25px;
}

.warmth__title {
  font-size: 50px;
  text-align: center;
  align-items: center;
  margin: 25px auto 0px;
  max-width: 800px;
  min-width: 300px;
  padding: 25px;
}

.warmth__description {
  font-size: 24px;
  text-align: center;
  max-width: 500px;
  width: 100%;
  background-color: aliceblue;
  margin: 0px auto;
  padding: 0px;
  border-radius: 45px 45px 0px 0px;
}

.warmth__grid {
  margin: 25px auto;
  padding: 0px;
}

.warmth__filter-form {
  position: fixed;
  bottom: 0px;
  left: 0px;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  width: 100%;
  height: 100px;
  gap: 5px;
  transition: all 0.3s ease;
  z-index: 1;
}

.warmth__label {
  display: none;
  background-color: #f0f8ff;
  border-radius: 25px;
  padding: 15px;
  font-size: 13px;
  z-index: 1;
}

.warmth__effect {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 75px;
  height: 75px;
  animation: effect 1s ease infinite;
  background-color: #f0f8ff;
  border-radius: 50%;
  z-index: 0;
}

.warmth__location-select {
  position: fixed;
  bottom: 25px;
  left: 25px;
  font-size: 10px;
  color: transparent;
  width: 75px;
  height: 75px;
  border: 5px solid #000;
  border-radius: 50%;
  background: url("../assets/cityIcon.svg") no-repeat center;
  background-size: contain;
  background-color: aliceblue;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.warmth__location-select:hover {
  cursor: pointer;
  opacity: 0.5;
}

.warmth__location-select:focus {
  outline: none;
}

.warmth__map {
  width: 600px;
  height: 350px;
  pointer-events: auto;
  border: none;
  border-radius: 25px;
  margin: 25px auto;
}

@media screen and (max-width: 800px) {
  .warmth__container {
    gap: 8px;
  }

  .warmth__description {
    font-size: 16px;
    max-width: 250px;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
  }

  .warmth__map {
    width: 525px;
    height: 350px;
  }
}

@media screen and (max-width: 620px) {
  .warmth__location-select {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
  }

  .warmth__effect {
    width: 50px;
    height: 50px;
    animation: effectMobile 1s ease infinite;
  }
}

@media screen and (max-width: 600px) {
  .warmth__map {
    width: 250px;
    height: 250px;
  }

  .warmth__title {
    font-size: 20px;
    max-width: 270px;
    padding: 15px;
  }

  .warmth__container {
    gap: 0px;
    flex-direction: column;
  }

  .warmth__filter-form {
    bottom: 30px;
    align-items: flex-start;
    left: 8px;
  }
}

@media screen and (max-width: 340px) {
  .warmth__info {
    max-width: 300px;
    height: 450px;
  }

  .warmth__title {
    font-size: 16px;
    max-width: 220px;
    margin: 0px;
    padding: 10px;
  }

  .warmth__description {
    margin: 0px;
    padding: 0px;
  }
}

@keyframes effect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes effectMobile {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
