.app {
  background-color: #fff;
  background-image: linear-gradient(to bottom right, #303030, #000);
  display: flex;
  flex-direction: column;
}

.page_content {
  max-width: 1360px;
}

.title {
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  box-sizing: content-box;
  color: #000;
}
